Calculator/Client/Service References/ServiceReference1/Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalcService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalcService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Arguments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arg1" type="xs:double" />
      <xs:element minOccurs="0" name="Arg2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Arguments" nillable="true" type="tns:Arguments" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>